<a href="https://colab.research.google.com/github/Nish0303/DECODING/blob/main/pesu_io_Decoding_tomorrow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
print("hello world")

hello world

In [15]:
name= input("enter your name: ")
age= input ("enter your age: ")
print("hi my name is "+name+", and my age is "+age+"")

enter your name: nishant v trivedi
enter your age: 18
hi my name is nishant v trivedi, and my age is 18

In [16]:
n1= int(input("enter number 1: "))
n2= int(input("enter number 2: "))
x = n1+n2
print(x)

enter number 1: 15
enter number 2: 19
34

In [17]:
n=int(input("enter your number"))
if n%2==0:
  print("n is even")
else:
  print("n is odd")

enter your number23
n is odd

In [ ]:
text=input("enter the input: ")
vowels=['a','e','i','o','u']
for i in text:
  if i in vowels:
    print (i)

enter the input: vvlburtvsl
u

In [ ]:
l=[1,2,3,3,3,3,5,7,7]
d={}
for i in l:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

{1: 1, 2: 1, 3: 4, 5: 1, 7: 2}

In [ ]:
str="betty bought some butter but the butter was bitter , so betty bought better butter"
list=str.split(" ")
list=set(list)
print(list)

{'the', 'butter', 'bitter', 'but', 'better', 'was', 'so', ',', 'betty', 'bought', 'some'}

In [ ]:
x=input("type n1: ")
y=input("type n2: ")
sum= int(x)+int(y)
print("the sum is: ", sum)

type n1: 2
type n2: 3
the sum is:  5

In [ ]:
x=57698
y=85769
print(x+y)

143467

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:

  if x=="banana":
    break
  print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
name= input("enter your name: ")
age= input ("enter your age: ")
print("hi my name is "+name+", and my age is "+age+"")

enter your name: nishant
enter your age: 18
hi my name is nishant, and my age is 18

In [7]:
n1= (input("enter name of person 1: "))
a1= int(input(" enter the age of person 1: "))
n2= (input("enter name of person 2: "))
a2= int(input(" enter the age of person 2: "))
total = a1+a2
print(total)

enter name of person 1: prakhar
 enter the age of person 1: 17
enter name of person 2: pranav
 enter the age of person 2: 18
35

In [12]:
n1 = int(input("Please first number:"))
n2 = int(input("Please second number:"))
n3 = int(input("Please third number:"))
average = (n1+n2+n3)/3
print("the average of the three numbers is", average )

Please first number:10
Please second number:20
Please third number:15
the average of the three numbers is 15.0

In [14]:
l= int(input("enter the length of the rectangle: "))
b= int(input("enter the breath of the rectangle: "))
h= int(input("enter the height of the rectangle: "))
volume=l*b*h
print("the volume of the rectangle is: ", volume)

enter the length of the rectangle: 2
enter the breath of the rectangle: 3
enter the height of the rectangle: 4
the volume of the rectangle is:  24

In [18]:
#doubt

num = int(input("Enter a number: "))

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is",sum)

Enter a number: 10
The sum is 55

In [21]:
#doubt

def compute_hcf(x, y):

    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf
num1 = int(input("enter n1: "))
num2 = int(input("enter n2: "))
print("The H.C.F. is", compute_hcf(num1, num2))

enter n1: 8
enter n2: 12
The H.C.F. is 4

In [23]:
#doubt
num = int(input("Enter a number: "))
factorial=1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

In [17]:
string="*****"
x=0
for i in string:
    x = x + 1
    print(string[0:x])

*
**
***
****
*****